JIRA_SITE=https://your-site.atlassian.net
JIRA_EMAIL=you@example.com
JIRA_TOKEN=
JIRA_PROJECT_ID=10000
JIRA_DEFAULT_ISSUETYPE_ID=10004

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=bomdbola-dev
PG_USER=postgres
PG_PASSWORD=
